<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body style="background-color: brown; text-align: center; color: cornsilk;">
    <br>
    <br>
    <br>
    <h1>FLASK LOGIN IMPLEMENTATION</h1>
    <br>
    <br>
    <br>
    <a href="{{url_for('register')}}"> <button>Register</button> </a>
    <br>
    <br>
    <br>
    <a  href="{{url_for('login')}}"> <button>Login</button> </a> 



    
</body>
</html>