<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>
<body style="background-color: brown; text-align: center; color: cornsilk;">
    <br>
    <br>
    <br>
    <h1>USER LOGIN PAGE</h1>
    <br>
    <br>
    <br>
    <form action="" method="POST">
       
        <label for="username"> UNAME</label>
        <input type="text" required placeholder="username" name="username">
        <br>
        <br>
        <label for="password"> PASS</label>
        <input type="password" required placeholder="password" name="password">
        <br>
        <br>
        {{feedback}}
        <br><br>
        <button type="submit">SUBMIT</button>
    </form>
    
</body>
</html>