<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UserPage</title>
</head>
<body style="background-color: brown; text-align: center; color: cornsilk;">
    <br>
    <br>
    <br>
    <h1>USER PAGE</h1>
    <br>
    <br>
    <p> NAME : {{current_user.name}}</p>
    <br>
    <br>
    <p> USERNAME : {{current_user.username}} </p>
    <br>
    <br>
    <p> EMAIL : {{current_user.email}} </p>
    <br>
    <br>
    <p> PASSWORD : {{current_user.password}} </p>
    <a href="{{url_for('index')}}"> <button> HOME</button> </a>
    <a href="{{url_for('logout')}}"> <button> LOGOUT</button> </a>

    
</body>
</html>