<!DOCTYPE html>
<html>
    <head>
         <!-- css links -->
<link href="{{url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" rel="stylesheet" type="text/css" media="all"/>
<link href="{{url_for('static',filename='css/css/owl.carousel.css') }}" rel="stylesheet" rel="stylesheet" type="text/css" media="all"/>
<link href="{{url_for('static',filename='css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- /css links -->
        <title>comments page </title>
    </head>
    <body >
        <div class="contact-us" id="contact">
            <div class="container">		
                <h3 class="text-center slideanim">Contact Us</h3>
                <div class="row">
                <h3 style="text-align: center;">COMMENTS PAGE</h3>
                <table style="vertical-align: middle; text-align: center; align-items: center;">
                    <tr>
                        <th>name</th>
                        <th>comments</th>
                        <th>email</th>
                        <th>actions</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button style="color: blue;background-color: yellow;" href="" >Respond</button>
                            <br>
                            <button style="color: blue;background-color: yellow;" href="" >Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        
    </body>
</html>